<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
</head>
<body>

    <h1>Lista de Cursos</h1>
    <h3><a href="/cursos/criar">Cadastrar</a></h3>
    <table style="margin: 0 auto; border: 2px solid;">
      <tr>
        <th>#</th>
        <th>Nome Curso</th>
        <th>Periodo Curso</th>
        <th>Carga Horaria</th>
        <th>Tipo Curso</th>
        <th colspan="2">Ações</th>
      </tr>

      <tr th:each="curso : ${cursos}">
        <td th:text="${curso.idCurso}"></td>
        <td th:text="${curso.nomeCurso}"></td>
        <td th:text="${curso.periodoCurso}"></td>
        <td th:text="${curso.cargahorariaCurso}"></td>
        <td th:text="${curso.tipoCurso}"></td>
        <td>
          <a th:href="@{/cursos/editar/{id}(id=${curso.idCurso})}">Editar</a>
          <a th:href="@{/cursos/excluir/{id}(id=${curso.idCurso})}">Excluir</a>
        </td>
      </tr>
    </table>
    
</body>
</html>