<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Fatec Web</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="container">
        <header>
            <h1>Sistema Fatec Web</h1>
            <p>Selecione uma das opções abaixo para começar</p>
        </header>

        <main class="actions-container">
            <a th:href="@{/alunos/listar}" class="action-card">
                <i class="fa-solid fa-users-gear"></i>
                <span>Gerenciar Alunos</span>
            </a>
            <a th:href="@{/cursos/listar}" class="action-card">
                <i class="fa-solid fa-book"></i>
                <span>Gerenciar Cursos</span>
            </a>
            <a th:href="@{/alunos/listar-nome-telefone}" class="action-card">
                <i class="fa-solid fa-book"></i>
                <span>Listar Nome e Telefone</span>
            </a>
        </main>

        <footer>
            <p>&copy; 2025 - Desenvolvido para a Fatec</p>
        </footer>
    </div>

</body>
</html>